body {
    background-image: url(../img/Group\ 5.png);
    background-color: #FF7979;
}


.section {
    width: 100%;
    min-height: 600px;
    float: left;

}

.e_left {
    width: 100%;
    min-height: 600px;
    float: left;

    display: flex;
    justify-content: center;
    align-items: center;
}

.e_words {
    width: 525px;
    min-height: 220px;
    float: left;

}

.e_words h1 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 55px;
    /* or 110% */
    letter-spacing: -0.520833px;
    color: #FFFFFF;
}

.e_words p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    /* or 162% */
    color: #FFFFFF;
    padding-top: 20px;
    box-sizing: border-box;
}

.e_right {
    width: 100%;
    min-height: 600px;
    float: left;

}

.top_btn {
    width: 100%;
    min-height: 100px;
    float: left;

    display: flex;
    justify-content: center;
    align-items: center;
}

.e_btn {
    width: 540px;
    height: 60px;
    background: #5E54A4;
    box-shadow: 0px 8px 0px rgba(0, 0, 0, 0.14688);
    border-radius: 10px;
    font-family: 'Poppins';
    font-style: normal;
    font-size: 15px;
    line-height: 26px;
    /* identical to box height, or 173% */
    text-align: center;
    letter-spacing: 0.267857px;
    color: #FFFFFF;
}

.e_btn span {
    font-weight: 800;
}

.e_input {
    width: 100%;
    min-height: 500px;
    float: left;
    box-shadow: 0px 8px 0px rgba(0, 0, 0, 0.14688);
    border-radius: 10px;
    background-color: white;
}

.e_btn2 {
    width: 460px;
    height: 56px;
    background: #77E2B3;
    box-shadow: inset 0px -4px 0px rgba(0, 0, 0, 0.0908818);
    border-radius: 5px;
    margin-left: 45px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 26px;
    /* identical to box height, or 173% */

    text-align: center;
    letter-spacing: 1px;

    color: #FFFFFF;
}

.e_input p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 26px;
    /* identical to box height, or 236% */

    text-align: center;

    color: #BAB7D4;

}

.e_input span {
    color: #FF7979;
    font-weight: bold;
}















































/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .e_words h1 {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-size: 48px;
        line-height: 36px;
        /* or 129% */

        text-align: center;
        letter-spacing: -0.291667px;

        color: #FFFFFF;


    }

    .e_words p {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 26px;
        /* or 162% */

        text-align: center;

        color: #FFFFFF;


    }

    .e_btn2 {
        width: 279px;
        height: 56px;
        background: #77E2B3;
        box-shadow: inset 0px -4px 0px rgba(0, 0, 0, 0.0908818);
        border-radius: 5px;
        margin-left: 80px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}